<div class="container" >
<table class="table table-stripped" bgcolor="white">  
    <tbody>    
        <tr>
            <td>Name:</td>
            <td><%= user.name %></td>
            </tr>
            <tr>
            <td>Email:</td>
            <td><%= user.email %></td>
            </tr>
            <tr>
            <td>Profession:</td>
            <td><%= user.profession %></td>
            </tr>
            <tr>
            <td>Contact:</td>
            <td><%= user.phone %></td>
            </tr>
            <tr>
                <td>Bio:</td>
            <td><%= user.info %></td>
            </tr>
        </tr>
    </tbody>
</table>
</div>